<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <table border="1" style="width: 100%; margin:20px 0px">
        <caption>Book List</caption>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>Category</th>
            <th>price</th>
            <th>page_count</th>
        </tr>
        {% for book in books %}
        <tr>
            <th>{{book.id}}</th>
            <th>{{book.title}}</th>
            <th>{{book.author}}</th>
            <th>{{book.categories}}</th>
            <th>{{book.price}}$</th>
            <th>{{book.page_count}}</th>
        </tr>
        {% endfor %}

        <table border="1" style="width: 100%; margin:20px 0px">
            <caption>Author List</caption>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Nationality</th>
            </tr>
            {% for author in authors %}
            <tr>
                <th>{{author.id}}</th>
                <th>{{author.fullname}}</th>
                <th>{{author.gender}}</th>
                <th>{{author.date_of_birthday}}</th>
                <th>{{author.nationality}}</th>
            </tr>
            {% endfor %}

            <table border="1" style="width: 100%; margin:20px 0px">
                <caption style="white-space: nowrap">Category List</caption>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <th>{{category.id}}</th>
                    <th>{{category.title}}</th>
                </tr>
                {% endfor %}


                <table border="1" style="width: 100%; margin:20px 0px">
                    <caption>Price Less Than 15.00$</caption>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>author</th>
                        <th>Category</th>
                        <th>price</th>
                        <th>page_count</th>
                    </tr>
                    {% for book in price_less_than_15 %}
                    <tr>
                        <th>{{book.id}}</th>
                        <th>{{book.title}}</th>
                        <th>{{book.author}}</th>
                        <th>{{book.categories}}</th>
                        <th>{{book.price}}$</th>
                        <th>{{book.page_count}}</th>
                    </tr>
                    {% endfor %}

                    <table border="1" style="width: 100%; margin:20px 0px">
                        <caption>Authors of the 20th Century</caption>
                        <tr>
                            <th>id</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Date of birth</th>
                            <th>Nationality</th>
                        </tr>
                        {% for author in authors_in_20th_century %}
                        <tr>
                            <th>{{author.id}}</th>
                            <th>{{author.fullname}}</th>
                            <th>{{author.gender}}</th>
                            <th>{{author.date_of_birthday}}</th>
                            <th>{{author.nationality}}</th>
                        </tr>
                        {% endfor %}

                        <table border="1" style="width: 100%; margin:20px 0px">
                            <caption>Book Objects which title contains “a”</caption>
                            <tr>
                                <th>id</th>
                                <th>title</th>
                                <th>author</th>
                                <th>Category</th>
                                <th>price</th>
                                <th>page_count</th>
                            </tr>
                            {% for book in books_title_contains_a %}
                            <tr>
                                <th>{{book.id}}</th>
                                <th>{{book.title}}</th>
                                <th>{{book.author}}</th>
                                <th>{{book.categories}}</th>
                                <th>{{book.price}}$</th>
                                <th>{{book.page_count}}</th>
                            </tr>
                            {% endfor %}

                            <table border="1" style="width: 100%; margin:20px 0px">
                                <caption style="white-space: nowrap">Category Objects which title contains “a”</caption>
                                <tr>
                                    <th>id</th>
                                    <th>Title</th>
                                </tr>
                                {% for category in category_title_contains_a %}
                                <tr>
                                    <th>{{category.id}}</th>
                                    <th>{{category.title}}</th>
                                </tr>
                                {% endfor %}

                                <table border="1" style="width: 100%; margin:20px 0px">
                                    <caption>Author object which name exactly match with "Daniel Defoe”</caption>
                                    <tr>
                                        <th>id</th>
                                        <th>Full Name</th>
                                        <th>Gender</th>
                                        <th>Date of birth</th>
                                        <th>Nationality</th>
                                    </tr>
                                    {% for author in author_object_exactly_DanielDefoe %}
                                    <tr>
                                        <th>{{author.id}}</th>
                                        <th>{{author.fullname}}</th>
                                        <th>{{author.gender}}</th>
                                        <th>{{author.date_of_birthday}}</th>
                                        <th>{{author.nationality}}</th>
                                    </tr>
                                    {% endfor %}

                                    <table border="1" style="width: 100%; margin:20px 0px">
                                        <caption>author objects which nationality not “British”</caption>
                                        <tr>
                                            <th>id</th>
                                            <th>Full Name</th>
                                            <th>Gender</th>
                                            <th>Date of birth</th>
                                            <th>Nationality</th>
                                        </tr>
                                        {% for author in author_nationality_not_British %}
                                        <tr>
                                            <th>{{author.id}}</th>
                                            <th>{{author.fullname}}</th>
                                            <th>{{author.gender}}</th>
                                            <th>{{author.date_of_birthday}}</th>
                                            <th>{{author.nationality}}</th>
                                        </tr>
                                        {% endfor %}

                                        <table border="1" style="width: 100%; margin:20px 0px">
                                            <caption>book objects which author’s full name start with “D” character
                                            </caption>
                                            <tr>
                                                <th>id</th>
                                                <th>title</th>
                                                <th>author</th>
                                                <th>Category</th>
                                                <th>price</th>
                                                <th>page_count</th>
                                            </tr>
                                            {% for book in books_which_authors_name_start_D %}
                                            <tr>
                                                <th>{{book.id}}</th>
                                                <th>{{book.title}}</th>
                                                <th>{{book.author}}</th>
                                                <th>{{book.categories}}</th>
                                                <th>{{book.price}}$</th>
                                                <th>{{book.page_count}}</th>
                                            </tr>
                                            {% endfor %}



                                            <table border="1" style="width: 100%; margin:20px 0px">
                                                <caption>book objects which author’s gender is “male”</caption>
                                                <tr>
                                                    <th>id</th>
                                                    <th>title</th>
                                                    <th>author</th>
                                                    <th>Category</th>
                                                    <th>price</th>
                                                    <th>page_count</th>
                                                </tr>
                                                {% for book in books_which_authors_gender_male %}
                                                <tr>
                                                    <th>{{book.id}}</th>
                                                    <th>{{book.title}}</th>
                                                    <th>{{book.author}}</th>
                                                    <th>{{book.categories}}</th>
                                                    <th>{{book.price}}$</th>
                                                    <th>{{book.page_count}}</th>
                                                </tr>
                                                {% endfor %}


                                                <table border="1" style="width: 100%; margin:20px 0px">
                                                    <caption>book objects which category’ title end with “e” character
                                                    </caption>
                                                    <tr>
                                                        <th>id</th>
                                                        <th>title</th>
                                                        <th>author</th>
                                                        <th>Category</th>
                                                        <th>price</th>
                                                        <th>page_count</th>
                                                    </tr>
                                                    {% for book in books_which_category_title_end_e %}
                                                    <tr>
                                                        <th>{{book.id}}</th>
                                                        <th>{{book.title}}</th>
                                                        <th>{{book.author}}</th>
                                                        <th>{{book.categories}}</th>
                                                        <th>{{book.price}}$</th>
                                                        <th>{{book.page_count}}</th>
                                                    </tr>
                                                    {% endfor %}

                                                    <table border="1" style="width: 100%; margin:20px 0px">
                                                        <caption style="white-space: nowrap">category objects which is
                                                            not related to any book</caption>
                                                        <tr>
                                                            <th>id</th>
                                                            <th>Title</th>
                                                        </tr>
                                                        {% for category in category_which_not_related_book %}
                                                        <tr>
                                                            <th>{{category.id}}</th>
                                                            <th>{{category.title}}</th>
                                                        </tr>
                                                        {% endfor %}

                                                        <table border="1" style="width: 100%; margin:20px 0px">
                                                            <caption>book object which primary key equal to 3
                                                            </caption>
                                                            <tr>
                                                                <th>id</th>
                                                                <th>title</th>
                                                                <th>author</th>
                                                                <th>Category</th>
                                                                <th>price</th>
                                                                <th>page_count</th>
                                                            </tr>
                                                            {% for book in book_which_primary_key_equal_3 %}
                                                            <tr>
                                                                <th>{{book.id}}</th>
                                                                <th>{{book.title}}</th>
                                                                <th>{{book.author}}</th>
                                                                <th>{{book.categories}}</th>
                                                                <th>{{book.price}}$</th>
                                                                <th>{{book.page_count}}</th>
                                                            </tr>
                                                            {% endfor %}

</body>

</html>